In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Kavieng,PG,2022-05-25 21:42:43,-2.5744,150.7967,82.26,72,100,8.50
1,1,Barrow,US,2022-05-25 21:42:44,71.2906,-156.7887,33.82,86,20,14.97
2,2,Mataura,NZ,2022-05-25 21:42:44,-46.1927,168.8643,41.49,90,23,1.88
3,3,Pimentel,PE,2022-05-25 21:42:45,-6.8367,-79.9342,71.89,60,0,18.41
4,4,Rikitea,PF,2022-05-25 21:42:45,-23.1203,-134.9692,74.95,76,22,4.56

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [14]:
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)

In [16]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# Heatmap of percent wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [21]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Kavieng,PG,2022-05-25 21:42:43,-2.5744,150.7967,82.26,72,100,8.50
6,6,Acajutla,SV,2022-05-25 21:42:46,13.5928,-89.8275,82.98,74,96,10.40
8,8,Matanzas,CU,2022-05-25 21:42:46,23.0411,-81.5775,84.96,74,75,13.80
22,22,Jamestown,US,2022-05-25 21:42:52,42.0970,-79.2353,75.02,51,0,11.50
23,23,Victoria,HK,2022-05-25 21:38:08,22.2855,114.1577,79.18,94,40,5.99
24,24,Coos Bay,US,2022-05-25 21:42:52,43.3665,-124.2179,80.31,88,0,11.50
25,25,Vaini,TO,2022-05-25 21:42:53,-21.2000,-175.2000,80.76,78,40,8.05
28,28,Butaritari,KI,2022-05-25 21:42:54,3.0707,172.7902,81.46,77,92,18.16
29,29,Eyl,SO,2022-05-25 21:42:54,7.9803,49.8164,80.46,75,38,18.16
37,37,Avarua,CK,2022-05-25 21:42:57,-21.2078,-159.7750,82.45,69,7,5.75

In [22]:
preferred_cities_df.count()

City_ID       178
City          178
Country       178
Date          178
Lat           178
Lng           178
Max Temp      178
Humidity      178
Cloudiness    178
Wind Speed    178
dtype: int64

In [23]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp      Lat       Lng Hotel Name
0      Kavieng      PG     82.26  -2.5744  150.7967
6     Acajutla      SV     82.98  13.5928  -89.8275
8     Matanzas      CU     84.96  23.0411  -81.5775
22   Jamestown      US     75.02  42.0970  -79.2353
23    Victoria      HK     79.18  22.2855  114.1577
24    Coos Bay      US     80.31  43.3665 -124.2179
25       Vaini      TO     80.76 -21.2000 -175.2000
28  Butaritari      KI     81.46   3.0707  172.7902
29         Eyl      SO     80.46   7.9803   49.8164
37      Avarua      CK     82.45 -21.2078 -159.7750

In [24]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [28]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [31]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Kavieng,PG,82.26,-2.5744,150.7967,Nusa Island Retreat
6,Acajutla,SV,82.98,13.5928,-89.8275,Laureles
8,Matanzas,CU,84.96,23.0411,-81.5775,Hostal Sueños
22,Jamestown,US,75.02,42.0970,-79.2353,Hampton Inn & Suites Jamestown
23,Victoria,HK,79.18,22.2855,114.1577,Mini Central
24,Coos Bay,US,80.31,43.3665,-124.2179,Best Western Holiday Hotel
25,Vaini,TO,80.76,-21.2000,-175.2000,Keleti Beach Resort
28,Butaritari,KI,81.46,3.0707,172.7902,Isles Sunset Lodge
29,Eyl,SO,80.46,7.9803,49.8164,Amiin Hotel
37,Avarua,CK,82.45,-21.2078,-159.7750,Paradise Inn

In [33]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [37]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [39]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))